include README.md
include LICENSE.txt
recursive-include pappyproxy *.json
recursive-include pappyproxy *.py
recursive-include pappyproxy *.vim
recursive-include pappyproxy *.txt
recursive-include pappyproxy *.template
recursive-include pappyproxy *.template
recursive-include pappyproxy/site *
include docs/source/overview.rst
