from pappyproxy.http import Request, get_request, post_request, request_by_id
from pappyproxy.plugin import main_context_ids 
from pappyproxy.context import set_tag
from pappyproxy.session import Session
from pappyproxy.iter import *

MACRO_NAME = '{{macro_name}}'
SHORT_NAME = '{{short_name}}'
